.rodape{
  background-color: var(--steel-blue);
  width: 100%;
}

.rodape__container{
  padding: 1em;
}

.rodape__texto{
  font-size: 12px;
}

@media screen and (min-width: 800px){
  .rodape{
    position: absolute;
    bottom: 0;
  }
  
  .rodape__texto{
    font-size: 18px;
  }

}