@import url("../css/menu.css");
@import url("../css/home.css");
@import url("../css/footer.css");
@import url("../css/about.css");
@import url("../css/projects.css");
@import url("../css/contact.css");


:root{
  --steel-blue: #4682B4;
  --alice-blue: #F0F8FF;
  /*--gray-21: #363636;*/
  --white: #FFFFFF;
  --fonte-principal: 'Josefin Sans', sans-serif;
}

body{
  color: var(--white);
  background-color: var(--alice-blue);
  font-family: var(--fonte-principal);
}


